body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  background-color: rgb(228, 205, 205);
  padding: 1rem;
  box-shadow: 0 3px 70px rgba(226, 214, 214, 0.2);
  justify-content: space-between;
  align-items: center;

  box-shadow: 10px 10px 8px #888888;
}
.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 30%;
}

.logoLink {
  flex: 20%;
}

.navbar {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  text-decoration: none;
  font-weight: 600;
  color: black;
  border-radius: ;
}

/* .navigation:hover
{
    background-color: black;
    padding:0.75rem;
    color:rgb(246, 233, 233);
    border:0.010rem solid black;
    border-radius: 0.5rem;
    
}

.navigation:focus{
    background-color: rgb(63, 60, 60);
    padding:0.55rem;
    color:rgb(246, 233, 233);
    border:0.010rem solid rgb(70, 68, 68);
    border-radius: 0.5rem;
} */

.navIcons {
  flex: 20%;
}
.navItems {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 3rem;
}
.icon {
  margin-right: 1rem;
  cursor: pointer;
}

.productsPanel {
  margin-top: 1%;

  padding: 0% 2%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in;
}
.productItem {
  width: 100vw;
  cursor: pointer;
  flex-direction: column;
  display: flex;

  align-items: center;
  background-color: rgb(226, 222, 222);
  margin-right: 1%;
  border-radius: 50px;
  flex: 0.5;
  overflow: hidden;
  height: 90vh;
  transition: 0.5s ease-in-out all;
}

.productItem.active {
  flex: 10;
  flex-direction: row;
}

.productImage {
  flex: 50%;
}
.productItem.active .productImg {
  clip-path: circle(36.4% at 50% 50%);
  width: 100%;
  height: 90vh;
}

.productDetails {
  flex: 30%;
  width: 80%;
}
.productTitle {
}
.productDesc {
  font-weight: 500;
}
.productButton {
  padding: 1rem;
  background-color: orange;
  border: none;
  font-weight: 600;
}
/* .viewLeft {
  float: left;
  cursor: pointer;
}
.viewRight {
  float: right;
  cursor: pointer;
} */

.features {
  /* background-color: rgb(227, 224, 223); */
  display: flex;
  padding: 0px 30px 30px 30px;
  align-content: center;
}

.feature {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
  color: rgb(148, 141, 141);
}

.featureImg {
  width: 10vw;
  height: 17vh;
}
.featureDesc {
  width: 70%;
  font-weight: 500;
}
.menuBar {
  position: relative;
}
.menu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  justify-content: space-between;
  padding: 0px 50px;
}
.menuItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(228, 205, 205);
  /* border: 1px solid black; */
  border-radius: 20px;
  box-shadow: 1px 3px 43px 1px rgba(0, 0, 0, 0.34);
}
hr {
  opacity: 0.23;
}
.menuImg {
  width: 100%;
  height: 25vh;
}
.menuInput {
  padding-bottom: 10px;
}
.menuSize {
  padding-bottom: 10px;
}
.menuHeading {
  text-align: center;
}
.menuButton {
  padding: 0.5rem;
  background-color: orange;
  border: none;
  font-weight: 600;
}
.cartMenu {
  display: none;
  padding: 30px;
  background-color: rgb(248, 218, 163);
  width: 50%;
  height: 60vh;
  position: absolute;
  top: 45vh;
  left: 20%;
  right: 0;
  bottom: 0;
}

.cartButtons {
  position: absolute;

  left: 30%;
  bottom: 4%;

  justify-content: space-between;
  align-items: center;
}
.noThanks {
  cursor: pointer;
  padding: 1rem;
  background-color: rgb(230, 114, 114);
  border: none;
  margin-right: 2vw;
  font-weight: 600;
}
.confirm {
  cursor: pointer;
  padding: 1rem;
  background-color: rgb(75, 179, 75);
  border: none;
  font-weight: 700;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 1%;
  right: 2%;
  font-size: 1.5rem;
  color: rgb(69, 64, 64);
}
.close2 {
  cursor: pointer;
  position: absolute;
  opacity: 0.75;
  top: 1%;
  right: 2%;
  font-size: 1.5rem;
  color: rgb(69, 64, 64);
}
.msgBox {
  display: none;
  padding: 30px;
  background-color: rgb(248, 218, 163);
  width: 40%;
  height: 20vh;
  position: absolute;
  top: 55vh;
  left: 30%;
  right: 0;
  bottom: 0;
  text-align: center;
  color: black;
}
.msgImg {
  height: 40px;
  width: 40px;
}
.star {
  color: rgb(222, 154, 45);
}
.reviews {
  padding: 2rem 4rem 2rem 4rem;
}
.reviewHeading {
  text-align: center;
}
.reviewContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
  width: 100%;
}
.reviewItem {
  width: 100%;
  text-align: center;
  border: 0.1px solid rgb(223, 220, 220);
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.reviewImg {
  width: 15vw;
  height: 25vh;
}
.userDesc {
  font-weight: 400;
}
.contact {
  padding: 1rem 4rem 2rem 4rem;
}
.contactMap {
}
.contactHeading {
  text-align: center;
}
.contactPanel {
  background-color: #eedfdf;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(30rem, 2fr)); */
  grid-template-columns: auto auto;
  align-items: center;
  gap: 2rem;
}
.contactDetails h3 {
  font-weight: 400;
}
.blog {
  padding: 0rem 4rem 2rem 4rem;
}
.blogHeading {
  text-align: center;
}
.blogContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 4rem;
  width: 100%;
}
.blogItem {
  position: relative;
  text-align: center;
  border: 0.1px solid rgb(223, 220, 220);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.blogImg {
  /* position: absolute;
  top: 10%; */
  /* clip-path: circle(50% at 50% 50%); */
  width: 25vw;
  width: 100%;
  height: 30vh;
}
.userDesc {
  width: 100%;
  line-height: 1.8;
  font-weight: 400;
}
footer {
  background-color: #eedfdf;
  padding-bottom: 5px;
}

.footerTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.footMenuList {
  padding: 0px;
  list-style-type: none;
}

.footMenuTitle {
  font-size: 18px;
}

.footListItem {
  margin-bottom: 7px;
  color: grey;
  cursor: pointer;
}

.followIcons {
  display: flex;
}

.fIcon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 10%;
}

.footerMenuSm {
  margin-right: 7%;
}

.footerBottom {
  text-align: right;
}
